@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

/* Root */
:root {
  /* colors */
  --yellow: #f5ec6d;
  --orange: #ef8555;
  --red: #be375f;
  --voilet: #60246c;
  --grey: #3b3b3e;
  --black: #212226;
  --white: #fefff2;
  --descriptionFont: "Lato", sans-serif;
  --borderRadius: 25px;
  --borderRadius-sm: 8px;
}

/* common CSS */
* {
  box-sizing: border-box;
  font-family: var(--descriptionFont);
}
body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/* custom css */
main {
  width: 25%;
  height: 90%;
  border-radius: var(--borderRadius);
  background-color: var(--white);
  border: 1px solid grey;
  position: relative;
}
body div:first-child {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  padding: 5%;
}

h1 {
  color: var(--black);
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}
nav {
  /* padding-top: 5px; */
  border-radius: 25px 25px 0px 0px;
  z-index: 100;
  position: relative;
}

.allTaskCount {
  background-color: var(--black);
  height: 45px;
  width: 100%;
  border-radius: var(--borderRadius-sm);
  margin: 1rem 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  color: var(--white);
}

#addTask {
  background-color: var(--white);
  height: 45px;
  width: 100%;
  border-radius: var(--borderRadius-sm);
  border: none;
}
#addTask:focus-visible {
  border-color: #60246c;
}
nav h3 {
  display: inline;
}

/* blur buttons*/
.blur-1,.blur-2 {
  width: 60px;
  height: 60px;
  position: absolute;
  background-color: var(--voilet);
  filter: blur(50px);
  border-radius: 50%;
  z-index: 1;
  clip: rect(-80px, 120px, 200px, 20px);
  left: -20px;
  top: 80px;
}


.blur-2{
  background-color: var(--orange);
  left: 324px;
  top: 170px;
  clip: rect(-100px, 60px, 200px, -60px);

}

https://in.pinterest.com/pin/303500462397205976/